{{>navPanel}}

<div class="pf__main-body-wrapper">
  <div class="pf__main-body-content">
    <div class="mk__panel mk_panel-default pf__main-body-panel">
      <div class="mk__panel-heading">
        <h3 class="panel-title mk__panel-title"> <b>Portfolio</b>
          <p class= "subtitle">- click the <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> icon for more information on the project</p>
          <p class= "subtitle"> - click the <span class="gitGlyph"><img src="./assets/images/Git-Icon.png" alt="link to GitHub Repo"></span> icon to see the code repo for the project</p>
        </h3>
      </div>
      <div class="panel-body">
        {{#each projects}}
        <div class="col-xs-12 col-sm-4 col-med-6 col-lg-6">
          <a class="thumbnail portfolio-link raised-light" target="_blank" href="{{link}}">
            <img class="portfolio-thbnail" src="./assets/images/{{thbnail}}" alt="{{altText}}"
              style="width:300px; height:200px;">
          </a>
          <div class="desc">
            {{name}}
            <span class="glyphicon glyphicon-info-sign project-info" aria-hidden="true" value="{{value}}"></span>
          </div>
          <a class="gitlink" target="_blank" href="{{gitLink}}">
            <img src="./assets/images/Git-Icon.png" alt="link to GitHub Repo">
          </a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{>infomodal}}
  {{>connect}}
</div>

{{>footer}}