{{>navPanel}}

<div class="mainbody background-skyblue">
    <div class="maincontent">
      <div class="panel panel-default raised">
        <div class="panel-heading">     
          <h3 class = "panel-title"> Portfolio - click the <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> icon to check out the code</h3>
        </div>
        <div class="panel-body">
        {{#each projects}}
        <div class="col-xs-12 col-sm-4 col-med-6 col-lg-6">
          <a class="thumbnail portfolio-link raised-light" target="_blank" href="{{link}}">
            <img class="portfolio-thbnail" src="./assets/images/{{thbnail}}" alt="{{altText}}" style="width:300px; height:200px;">
          </a>
          <div class="desc">
            {{name}}
            <a class="gitlink" target="_blank" href="{{gitLink}}">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true">
              </span>
            </a>
          </div>
        </div>
        {{/each}}
        </div>
      </div>
    </div>
    {{>connect}}
</div>

{{>footer}}